
<hr>
<div class="footer-big" align="center">
    <div class="four-one" align="left">
        <ul>
            <li class="textbold">ABOUT</li>
            <li>Press</li>
            <li>Gallery/Video</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="four-one" align="left">
        <ul>
            <li class="textbold">SERVICE</li>
            <li>Events</li>
            <li>Weddings</li>
            <li>Corporate Gifts</li>
            <li>Gift Cards</li>
        </ul>
    </div>
    <div class="four-one" align="left">
        <ul>
            <li class="textbold">WORK WITH US</li>
            <li>Jobs</li>
            <li>Florists</li>
            <li>Affiliates</li>
            <li>Site Map</li>
        </ul>
    </div>
    <div class="four-one" align="left">
        <ul>
            <li class="textbold">HELP</li>
            <li>Customer Service</li>
            <li>Flower Care</li>
            <li>FAQs</li>
            <li>Privacy and Legal Terms</li>
        </ul>
    </div>
</div>

<div class="footer-small" align="center">
    <img src="image/small-facebook-icon1.png" alt="facebook">
    <img src="image/small-twitter-icon1.png" alt="twitter">
    <img src="image/small-pinterest-icon1.png" alt="pinterest">
    <img src="image/small-instagram-icon1.png" alt="instgrm">
    <p>COPYRIGHT 2017, Mengru Zhang<br><br><br><br></p>
</div>

